<%- if controller_name != 'sessions' %>
  <div class="mt-4 text-center">
    <%= link_to "サインイン", new_session_path(resource_name), class: "text-sm text-blue-600 hover:underline" %>
  </div>
<% end %>
